<!-- Accommodations Section -->
    <section id="hotels" class="bg-light-gray">
    	        <div class="container">

   		<div class="col-lg-8 col-lg-offset-2 text-center">
   			<h2 class="section-heading">The Accomodations</h2>

    	<p>We highly recommend that you stay at our venue, <a href="http://www.tankardstown.ie">Tankardstown House</a>, where all of the action will be. 6 multi-room cottages are available for €85 per person on Monday, Aug 3 and €100 per person on Tuesday, Aug 4. No other dates have been reserved for our use.</p>

		<p><strong>Other options</strong> </p>

		<p><a href="http://www.collegehillhouse.ie/">Cottage Hill House B&amp;B</a>: Walkable from Tankardstown House. Approximately €130 per double room per night including breakfast.</p>

		<p><a href="http://www.conynghamarms.ie/">Conyngham Arms</a>: {pronounced like Cunningham} A small hotel in Slane town that's 10 minutes away from Tankardstown. Rooms from €140 per double room per night &#8212;-note they won’t take any bookings until 3 months before your wedding. Sister property to Tankardstown.</p>

		<p><a href="http://www.stayinslane.com/">Castle View House B&amp;B</a>: Family run B&amp;B with double rooms from €70 per night including breakfast </p>

		<p><strong>Further afield</strong></p>

		<p><a href="http://www.ardboynehotel.com/">Ardboyne Hotel</a>: A modern hotel 20 minutes from Tankardstown House. 15 rooms have been made available at the following rates:</p>
		<p>Single room @ €69.00 Bed & Breakfast<br>
		Double Room @ €79.00 Bed & Breakfast</p>
	</div>
</div>
	</section>
